.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: rgba(black, 0.5);
  padding: 20px 10px;
  font-family: 'Noto Sans', sans-serif;
}

.header a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header a.logo {
  margin-left: 200px;
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: #1DB954;
}

.header-right {
  float: right;
  margin-right: 200px;
  font-weight: bolder;
}

.header p {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  margin: 0px;
  text-decoration: none;
  font-size: 18px;

  line-height: 25px;
  border-radius: 4px;
}
