<div id="homebody">
  <br/><br/><br/><br/><br/><br/>
  <div id="maincontainer">
    <audio controls id="audioPlayer" (ended)="playlist_nextTrack()">
      Your browser does not support this.
    </audio>

    <h3 *ngIf="this.title">{{title}}</h3>
    <a (click)="playlist_togglePlayPause()">Play/Pause</a><br/>
    <a (click)="playlist_prevTrack()">Prev Track</a><br/>
    <a (click)="playlist_nextTrack()">Next Track</a><br/>
    <!--<a (click)="playlist_toggleShuffle()">Shuffle</a><br/>-->
<ul>
  <li *ngFor="let schlager of list">{{schlager.title}} Door: {{schlager.artist}}</li>
</ul>
  </div>
</div>
