#homebody {

  /* Background color */
  background-color: black;

  /* Full height */
  height: 100%;

}

p {
  color: #FFFFFF;
  text-align: center;
}

.maincontainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

a:hover {
  cursor: pointer;
}
